*{
    padding: 3;
    margin: 1;
    box-sizing: border-box;
    font-family: century;
}


header{
    background-image: url(image/album-drone.jpg);
    height: 100vh;
    background-size: auto;
    background-position: center;
}
